<div class="bio">
  <h1>
    <span>📅 매일마다 📨 편지봇을</span>
    <span>통해 📄 브리핑을 받아보세요!</span>
  </h1>
</div>

<style>
  .bio {
    display: flex;
    justify-content: center;

    font-family: 'Noto Sans KR', sans-serif;

    margin-bottom: 3rem;
  }

  /* 데스크탑 화면 */
  @media (min-width: 768px) {
    .bio span:first-child {
      position: relative;

      left: 2.5rem;
    }

    .bio span:last-child {
      position: relative;

      top: 2.5rem;
      left: -2.5rem;
    }
  }

  /* 모바일 화면 */
  @media (max-width: 768px) {
    .bio {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
    }
  }
</style>