<form id="form">
  <input id="webhook-input" placeholder="웹훅 주소를 입력해주세요."></input>
  <button id="webhook-submit">구독하기</button>
</form>

<style>
  form {
    display: flex;
    align-items: center;
  }

  input {
    width: 20rem;

    border: 2px solid black;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
  
    font-size: 1.25rem;
    line-height: 2rem;

    text-align: center;
  }

  button {
    margin-left: 0.25rem;

    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    background: transparent;
    border: 2px solid #667EEA;
    border-radius: 0.25rem;
    
    cursor: pointer;
    transition: all 0.125s ease-in 0s;
  }

  button:hover {
    background: #667EEA; 
    color: white;
  }

  button:disabled {
    cursor: default;

    color: rgb(222, 226, 230);
    border-color: rgb(173, 181, 189);
    background: rgb(173, 181, 189);
  }
</style>